// // theme Color
$primary: hsl(238, 40%, 52%); //  Moderate blue: 
$secondary: hsl(239, 57%, 85%); // Light grayish blue: 
$info: #8ab6f9;
$dark: #000000;
$danger: hsl(358, 79%, 66%); // Soft Red: 
$light: #FFFFFF;
$warning: #F6BE2B;
$success: #28a745;