.comments-container {
    max-width: 850px;

    .btn-actions {
        color: rgba($primary, 0.5);
        transition: 0.2s all;
        font-size: 1.25rem;

        &:hover {
            color: rgba($primary, 1);
        }
    }

    .vote-counter {
        order: 1;

        @include media-breakpoint-up(md) {
            order: inherit;
        }
    }

    .profile-image {
        width: 30px;
        height: auto;

        @include media-breakpoint-up(md) {
            width: 40px;
        }
    }

    .col-action {
        position: absolute;
        right: 2rem;
        bottom: 10px;

        @include media-breakpoint-up(md) {
            position: initial;
        }
    }

    .comment-textarea {
        order: -1;

        @include media-breakpoint-up(md) {
            order: inherit;
        }

    }

    .comment-input-btn {
        width: auto;

        @include media-breakpoint-up(md) {
            width: 100%;
        }
    }

}